body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #999;
}

.container-narrow {
  margin: 0 auto;
  max-width: 900px;
  background: #fff;
  padding: 40px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: left;
}
.jumbotron h1 {
  font-size: 40px;
  line-height: 1;
}

.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.section {
  padding-top: 20px;
}

